body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400; /* Apply Montserrat font to all text */
  }
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    width: 100%;
  }
  
  .checklist {
    background-color: white;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 20%;
    box-shadow: 0px 8px 15px 0px #1414141F, 0px 0px 4px 0px #1414141A; /* Concatenate box-shadow properties */
  }
  
  .checklist h1 {
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .divider {
    width: 100%;
    border-bottom: 0.7px solid #CDCDCD;
    margin: 10px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul  {
    margin-bottom: 10px;
  }
  li{
    padding: 
    8px 0px 8px 0px;
  }
  button {
    padding: 10px 20px;
    border: none;
    background-color: #FFCE22;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #FFD84D;
  }
/* Hide the default checkbox */
/* Hide the default checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 23px;
    height: 23px;
    position: relative;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    border-radius: 5px; /* Make the checkbox rounded */
    overflow: hidden; /* Ensure the rounded corners are visible */
}

/* Style the custom checkbox */
input[type="checkbox"]::before {
    content: '';
    width: 100%;
    height: 100%;
  
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px; /* Make the checkbox rounded */
}

/* Style the custom checked checkbox */
input[type="checkbox"]:checked::before {
    background-color: #007bff;
}

/* Style the custom tick mark */
input[type="checkbox"]:checked::after {
    content: '';
    background-image: url('../images/Vector\ 128.svg'); /* Path to your image */
    background-size: 70%; /* Adjust the size of the SVG */
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 25%;
    left: 10%;
}
